#############################################################
# .gitignore                                                #
#############################################################

.git
.gitignore

# Python cache
__pycache__/
pyIndego/__pycache__/

# Imported libraries
certifi/
chardet/
idna/
requests/
urllib3/

# Test script
config.py
test_pyIndego.py
release.ps1
release_pyIndego.ps1

# Log files
*.log

# Python wheel build package
build/
dist/
pyIndego.egg-info/
_build.cmd