#############################################################
# .gitignore                                                #
#############################################################

# Test script
config.py
test_pyIndego.py

# Log files
*.log

# Python cache
__pycache__/