#############################################################
# .gitignore                                                #
#############################################################

.git
.gitignore

# Python cache
__pycache__/
pyIndego/__pycache__/

# Test script
config.py
test_pyIndego.py

# Log files
*.log

# Python wheel build package
build/
dist/
pyIndego.egg-info/
_build.cmd